<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>{{ title ?? site:name }}</title>
  {{ vite src="resources/js/site.js|resources/css/site.css" }}
  <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body class="bg-gray-100 font-sans leading-normal text-gray-800">

  {{ partial:_partials/mainNav }}

  <div class="">


    <div class="divide-y">
    {{ collection:announcements }}

      {{ unless no_results }}
        <div class="flex items-center gap-x-6 bg-indigo-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
          <div class="text-center">
            <p class="text-sm leading-6 text-white">
              <a href="{{url}}">
                <strong class="font-semibold">{{announcement_type:label | upper}}</strong><svg viewBox="0 0 2 2"
                  class="mx-2 inline h-0.5 w-0.5 fill-current"
                  aria-hidden="true">
                  <circle cx="1"
                          cy="1"
                          r="1" />
                </svg>{{announcement_title}}&nbsp;<span aria-hidden="true">&rarr;</span>
              </a>
            </p>
          </div>
          <div class="flex flex-1 justify-end">
          </div>
        </div>
      {{ /unless }}
    {{ /collection:announcements }}
      </div>
    </div>

    {{ template_content }}

  </div>

  <footer class="bg-neutral-950">
    <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
      <div class="flex justify-center space-x-6 md:order-2">
        {{ footer:social }}
        <a href="{{social_link}}"
           class="text-gray-200 hover:text-gray-300"
           target="_blank">
          <span class="sr-only">{{ title }}</span>
          {{ icon_field | add_property('<svg', ['fill'=> 'currentColor', 'class' => 'h-6 w-6']) }}
        </a>
        {{ /footer:social }}
      </div>
      <div class="mt-8 md:order-1 md:mt-0">
        <p class="text-center text-xs leading-5 text-gray-300">{{ footer:copy }}</p>
      </div>
    </div>
  </footer>
</body>

</html>